@import "~@blueprintjs/core/lib/scss/variables.scss";
$settings-header-height: 120px + 50px;

.settings {
  margin: $pt-grid-size * 2;
}

:global {
  .bp3-tabs .bp3-tab-list {
    margin-bottom: $pt-grid-size * 2;
  }

  .bp3-form-group:last-child {
    margin-bottom: 0;
  }

  .bp3-tab-panel {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - $settings-header-height - 20px);
  }
}

.backgroundImagePreview {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.colorPicker {
  width: 100px;
}

.appRestartMsg {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 0;
}
